/* RESETS */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

img {
  display: none;
  width: 100%;
}
.show-img {
  display: block;
}
.slider-carousel {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(3, 22, 43);
}
.carousel-container {
  max-width: 80vw;
  height: 70vh;
  border: 20px double greenyellow;
}
.carousel-images {
  display: flex;
  height: 100%;
}
.image-circles-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.image-circles-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.image-circle {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: greenyellow;
  cursor: pointer;
}
.image-circle2 {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: greenyellow;
  cursor: pointer;
}
.carousel-active {
  background-color: green;
}

/* MOBILE */
@media (max-width: 800px) {
  .carousel-container {
    max-width: 100vw;
    height: 40vh;
    border-right: none;
    border-left: none;
  }
  .image-circle {
    height: 13px;
    width: 13px;
    margin: 0 7px;
  }
}