/* RESETS */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

img {
  display: none;
  width: 100%;
}
.show-img {
  display: block;
}
.slider-carousel {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(3, 22, 43);
  border-bottom: 1px dotted greenyellow;
  border-top: 1px dotted greenyellow;
}
.carousel-container {
  max-width: 80vw;
  max-height: 70vh;
  border: 20px double greenyellow;
}
.image-counter {
  position: absolute;
  padding: 10px;
  font-size: 1.5em;
  font-weight: bold;
  color: green;
  z-index: 99;
}
.image-counter2 {
  position: absolute;
  padding: 10px;
  font-size: 1.5em;
  font-weight: bold;
  color: green;
  z-index: 99;
}
.carousel-images {
  position: relative;
  display: flex;
  height: 100%;
  justify-content: space-between;
}
.prev-button,
.next-button {
  position: absolute;
  padding: 35px 25px;
  align-self: center;
  font-size: 1.5em;
  color: greenyellow;
  cursor: pointer;
  user-select: none;
}
.prev-button:hover,
.next-button:hover {
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}
.prev-button {
  left: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.next-button {
  right: 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.image-circles-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.image-circles-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.image-circles-container4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.image-circle {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: greenyellow;
  cursor: pointer;
}
.image-circle2 {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: greenyellow;
  cursor: pointer;
}
.image-circle4 {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: greenyellow;
  cursor: pointer;
}
.carousel-active {
  background-color: green;
}

/* MOBILE */
@media (max-width: 800px) {
  .carousel-container {
    max-width: 100vw;
    height: 40vh;
    border-right: none;
    border-left: none;
  }
  .image-circle {
    height: 13px;
    width: 13px;
    margin: 0 7px;
  }
  .image-counter {
    font-size: 1.125em;
    padding: 5px;
  }
  .prev-button,
  .next-button {
    padding: 20px 15px;
    font-size: 1em;
  }
}